<footer role="contentinfo" class="site-footer">
  <div class="container flex between center">
    <nav aria-label="Footer"> 
     
     <div class="grid-4 demo-boxes" role="list">
          <ul role="listitem"> 
            
             
             <li>Column A</li>
             <li><a href="#">Privacy</a></li>
             <li><a href="#">Terms</a></li>
             <li><a href="#">Accessibility</a></li>
          </ul>
                         <ul role="listitem"> 
                           <li>Column A</li>
             <li><a href="#">Privacy</a></li>
             <li><a href="#">Terms</a></li>
             <li><a href="#">Accessibility</a></li>
          </ul>
                         <ul role="listitem"> 
                           <li>Column A</li>
             <li><a href="#">Privacy</a></li>
             <li><a href="#">Terms</a></li>
             <li><a href="#">Accessibility</a></li>
          </ul>
        <ul role="listitem"> 
          <li>Column A</li>
             <li><a href="#">Privacy</a></li>
             <li><a href="#">Terms</a></li>
             <li><a href="#">Accessibility</a></li>
          </ul>
                    </div>
    </nav>
    <div class="site-info">
    <small>&copy; 2025 MyW3CApp.</small>
      <a href="/">Home</a>
  </div>
    
    
  </div>
</footer>