<footer role="contentinfo" class="site-footer">
  <div class="container flex between center">
    <nav aria-label="Footer"> 
     
     <div class="grid-4 demo-boxes" role="list">
          <ul role="listitem"> 
            
             
             <li class="semibold">Shipping lines</li>
             <li><a href="#">Container release</a></li>
             <li><a href="#">Documentation</a></li>
             <li><a href="#">Logistics</a></li>
          </ul>
                         <ul role="listitem"> 
                           <li class="semibold">Container yards</li>
             <li><a href="#">Initiatives</a></li>
             <li><a href="#">Equipment</a></li>
             <li><a href="#">Accessibility</a></li>
          </ul>
                         <ul role="listitem"> 
                            <li class="semibold">Port strikes</li>
             <li><a href="#">Emissions</a></li>
             <li><a href="#">Terms</a></li>
             <li><a href="#">Balance</a></li>
          </ul>
        <ul role="listitem"> 
          <li class="semibold">Feeder vessels</li>
             <li><a href="#">Space</a></li>
             <li><a href="#">Sensors</a></li>
             <li><a href="#">Manuals</a></li>
          </ul>
                    </div>
    </nav>
    <div class="site-info">
    <small>&copy; 2008 Kineport</small>
      <small><a href="/">Home</a></small>
  </div>
    
    
  </div>
</footer>